*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100%;
    font-family: sans-serif;
    transition: .5;
}
#page{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
main{
    margin-top: 12vh;
    width: 100vw;
    height: calc(100% - 12vh) ;
     background: url(https://image.freepik.com/free-photo/minimalist-black-background-arrangement-coffee-beans_23-2148441212.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.888);
    width: 100%;
    height: 12vh;
    display:flex;
    position:fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    border-bottom: .7px solid rgba(255, 255, 255, 0.815);

}
.menu{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}
.menu a{
    padding: 10px;
    cursor: pointer;
    margin: 2px;
    border-radius: 10px;
    transition: .5s;
    color: white;
    text-decoration: none;
}
.menu a:hover{
    background-color: burlywood;
    color: black;

}
.cart{
    width: 7vw;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    color: white;
}
.cart i{
    margin-left: 10px;
    cursor: pointer;
}
/* layer of main is upper */
#upper{
    
    background-color: rgba(0, 0, 0, 0.564);
    width: 100%;
    height: calc(100% );
    color: white;
    display: flex;
}
/* main two side below here left and right and there chid */
.left{
    width: 55%;
    height: 80%;
    margin-bottom: 20%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
   

}
.left h1{
    margin-top: 5vmax;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 10px;
}
.left h1,p{ 
    width: 70%;
}
.left p{
    margin: 22px;
    font-weight:lighter;
    font-size: 20px;
}
.left button{
    margin: 10px 10px 40px;
 padding: 10px 24px;
 cursor: pointer;
 color: white;
 background-color: rgb(113, 60, 41);
 border: 0px solid;
 align-self: first baseline;
 margin-left: 124px;
 border-radius: 4px;
 font-size: 18px;
 font-weight: 600;
}
.right {
    height: 80%;
    margin: 50px 50px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.right #img{
    height: 30vmax;
}
/* for search using  i am using here .sea  */
.sea{
    position: absolute;
    width: 300px;
    height: 50px;
    background-color: white;
    right: 20px;
    border-radius: 20px;
    top: calc(13vh);
    display: none;
    align-items: center;
    background-color:burlywood;
    justify-content: center;
}
.sea i {
    color: black;
    background-color: white;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 50%;
}
.sea i:active{
    background-color: rgb(95, 90, 90);
}
#search{
    border: 1px solid black;
    margin-left: 15px;
    border-radius: 20px;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 15px;
    padding-left: 8px;

}
/* link maching potition */
.up{
    position: absolute;
    bottom: 80px;

}
.right img{
    height: 30rem;
}
/* page2 is started here there is our about section  */
#page2{
    background-color: rgb(0, 0, 0);
    height: min-content;
    width: 100vw;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#page2 .top2,.but2{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
#page2 .mid2{
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
#page2 h2 span,.page4 h2 span{
    color: rgb(214, 161, 92);
}
#page2 h2,.page4 h2{
    color: white;
    padding: 30px;
}
.mid2 .cont{
    width: 80vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.mid2 .cont .cleft{
    min-width: 50%;
    height: 100%;
    z-index: 9;
    background-image:url(https://images.pexels.com/photos/568454/pexels-photo-568454.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200) ;
    background-position:left;
    background-size: cover;
    
}
.mid2 .cont .cright{
    width: 50%;
    min-height: min-content;
    color: white;
    padding: 15px;
    background-color: rgba(149, 102, 194, 0.192);
}
.mid2 .cont .cright h3{
    font-size: 27px;
    padding: 25px 15px 10px;
}
.mid2 .cont .cright p{
    width: 90%;
    padding: 12px 15px ;
    font-weight: lighter;
}
button{
    margin: 10px;
 padding: 10px 24px;
 cursor: pointer;
 color: white;
 background-color: rgb(182, 104, 76);
 border: 0px solid;
 align-self: first baseline;
 border-radius: 4px;
 font-size: 18px;
 font-weight: 600;
}
.page3{
    height: min-content;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
.page3 .layer{
    width: 88%; 
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}
.layer .box{
    min-width: 350px;
    min-height: 250px;
    border: 2px solid rgb(35, 34, 34);
    margin: 10px;
    transition: .9s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}
.layer .box:hover{
    color: black;
    cursor: pointer;
    background-color: burlywood;
}
.layer .box h5{
    font-weight: 700;
    font-size: 20px;
}
.layer .box p span{
    font-size: smaller;
    text-decoration: line-through;
}
.layer .box .mage{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: rgb(167, 133, 81);
    
}
.layer .box button{
    background-color: rgb(145, 119, 85);
    align-self: center;
}
.page4{
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page4 .layer4{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0px 20px;
}
.page4 .layer4 .box{
    /* height: min-content; */
    height: 400px;
    background-color: rgb(150, 89, 89);
    padding: 30px;
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.page4 .layer4 .box .topOfbox{
    width: min-content;
    padding: 0px 20px;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
}
.page4 .layer4 .box .topOfbox .tip{
    height: 40px;
    width: 40px;
    background-color: red;
    margin: 0px 10px;
}

@media (max-width:1000px) {
    .menu{
        display: none;
    }
    .mid2 .cont .cleft{
        display: none;
    }

    .mid2 .cont .cright{
        width: 100%;
        background: url(https://images.pexels.com/photos/568454/pexels-photo-568454.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200);
        filter: opacity(.8);
    }
    
}
@media (max-width:600px) {
        #upper{
            flex-direction: column;
            width: 100%;
        }
        #page{
            height: 140vh;
        }
    main{
        flex-direction: column;
        
    }
    .left{
        height: 60%;
        width: 100%;
    }
    .right{
        height: 40%;
        width: 100%;
    }
    .menu{
        justify-content: space-around;
        width: 300px;
        display: none;
    }
    .left{
        margin-bottom: 0px;
        justify-content: baseline;
        padding-bottom:20px ;
    }
    .left h1,p{
        margin-left: 0px;
    }
    .right{
        padding: 20px;
        outline: 5px solid white;
        border: 5px solid rgb(0, 0, 0);
        margin: 0px;
        width: 100%;
        background-color: rgb(12, 6, 6);
    }
    .mid2 .cont .cleft{
        display: none;
    }

    .mid2 .cont .cright{
        width: 100%;
        background: url(https://images.pexels.com/photos/568454/pexels-photo-568454.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200);
    }
}